{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "header"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/quotes": [
            "warn",
            "double"
        ],
        "@typescript-eslint/semi": "warn",
        "header/header": [2, "block", "\n * @preserve Copyright 2019-2021 Onno Invernizzi.\n * This source code is subject to terms and conditions.\n * See LICENSE.MD.\n "]
    }
}